// FONT FAMILIES
$font-family-main: "Roboto", "sans-serif";

// FONT SIZES
$font-size-main: 1rem;
$font-size-2: 1.2rem;
$font-size-4: 1.4rem;
$font-size-8: 1.8rem;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// COLORS
$color-white: #ffffff;
$color-subtitle: #999999;
$color-text: #000000;
$color-sidebar: #dfdfdf;
$color-background: #fbfbfb;
$color-border: #c4c4c4;
$color-on-add-row: #ededed;
$color-id: #0f8dc3;
$color-status: #398e2a;
$color-hover: #0c94f5;

// TABLE
$width-table-data: 188px;
$width-table-data-tablet: 115px;
$border-radius: 5px;

// Z-INDEX
$index-table: 1;
$index-hover: 0;

// TRANSITION TIME
$transition-main: 0.3s;

// MEDIA WIDTH
$media-laptop: 1200px;
$media-tablet: 769px;
$media-mobile: 481px;
